.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 0px;
}

.inner {
    display: inline-block;
    border: 1px black solid;
}

.inner-1 {
    background-color: green;
    height: 200px;
    width: 50%;
}

.inner-2 {
    background-color: blue;
    height: 200px;
    width: 50%;
}

.inner-3 {
    background-color: gray;
    height: 300px;
    width: 33.33%;
}

.inner-4 {
    background-color: black;
    height: 300px;
    width: 33.33%;
}

.inner-5 {
    background-color: orange;
    height: 300px;
    width: 33.33%;
}
